div#container{

	display: block;
	position:relative;
	min-height: 1000px;
	width:1000px;
	margin:0 auto;
	background-color: #eff5fa;
}

header#page_header{
	background-color: #bfc4c8;
	text-align: center;
	color:#000000;
	padding:10px; 15px;
}

nav#utility{
	float: right;
	font-size:1em;
}




